@import "variables";
@import "fonts";

.btn {
  color: #fff;
  padding: 6px 26px;
  background-color: #000;
  border-bottom: 3px solid $yellow-color;
  font-size: 18px;
  font-family: "CenturyGothic", sans-serif;
  border-radius: 0;
  position: relative;

  &:active, &:hover {
    color: #000;
    background-color: $yellow-color;
    border-bottom: 3px solid #000;
  }

  &:before {
    content: "";
    position: absolute;
    z-index:-1;
    top: 0;  left: 0;  right: 0;  bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .3s ease-out;
  }


  &:hover:before{
    transform: scaleX(1);
    color: #000;
    background-color: $yellow-color;
    border-bottom: 3px solid #000;
  }
}

