@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/Century-Gothic.ttf") format("truetype"); }
.carousel-item img {
  margin: 0 auto;
  width: 717px; }

.carousel-indicators {
  bottom: -46px;
  margin-right: 83%;
  margin-left: -30px; }
  .carousel-indicators li {
    max-width: 20px;
    height: 20px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #414146;
    border: 3px solid #414146; }

.carousel-indicators .active {
  background-color: #ffea00; }

.btn {
  color: #fff;
  padding: 6px 26px;
  background-color: #000;
  border: none;
  border-bottom: 3px solid #ffea00;
  font-size: 18px;
  font-family: "CenturyGothic", sans-serif;
  border-radius: 0;
  display: inline-block;
  position: relative;
  z-index: 0; }
  .btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffea00;
    transform: scaleY(0);
    transform-origin: 0 50%;
    transition: transform .3s ease-out; }
  .btn:hover {
    border-bottom: 3px solid #000;
    color: #000; }
  .btn:hover:before {
    transform: scaleY(1);
    background-color: #ffea00; }

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/Century-Gothic.ttf") format("truetype"); }
.main-header {
  padding: 22px 0; }

.main-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main-header .nav-pills .nav-link.active {
  color: #414146;
  background-color: #ffea00; }
.main-header .nav-pills .nav-link {
  border-radius: 0; }
.main-header .nav-link {
  display: block;
  padding: 1.5em .7em;
  color: #414146;
  font-size: 16px;
  margin-left: 28px; }
  .main-header .nav-link:hover {
    color: #cacaca; }

.welcome {
  background: url("../images/slider-bg.png") no-repeat;
  padding: 40px 0; }
  .welcome p {
    max-width: 365px;
    background-color: #414146; }

.about-us {
  text-align: center; }
  .about-us h3 {
    font-family: "CenturyGothic", sans-serif;
    font-size: 35px;
    line-height: 21px;
    color: #414146;
    text-transform: uppercase;
    margin-bottom: 26px; }

.about-us-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .about-us-list li {
    height: 285px;
    width: 250px;
    display: inline-block;
    margin-bottom: 80px; }
    .about-us-list li:hover .yellow-section {
      background: url("../images/bog-post-img.png") no-repeat; }
      .about-us-list li:hover .yellow-section h5 {
        display: none; }
    .about-us-list li:hover .gray-section {
      flex-direction: column;
      justify-content: space-around; }
      .about-us-list li:hover .gray-section > p {
        display: none; }
      .about-us-list li:hover .gray-section div {
        display: block;
        width: 209px; }
      .about-us-list li:hover .gray-section h5 {
        color: #fff; }
      .about-us-list li:hover .gray-section:before {
        display: block; }
    .about-us-list li .yellow-section {
      height: 66%;
      transition: .5s; }
      .about-us-list li .yellow-section h5 {
        padding-top: 156px; }
    .about-us-list li .gray-section {
      height: 34%;
      background-color: #414146;
      display: flex;
      align-items: center;
      position: relative;
      transition: .5s; }
      .about-us-list li .gray-section:before {
        content: '';
        background: url("../images/corner.png") no-repeat;
        position: absolute;
        left: 80%;
        top: -11px;
        height: 22px;
        width: 22px;
        display: none; }
      .about-us-list li .gray-section .about-us-hov {
        display: none; }
  .about-us-list h5 {
    font-size: 20px;
    text-transform: uppercase; }
  .about-us-list .redesigning {
    background: url("../images/web-design-icon.png") 50% 20% no-repeat;
    background-color: #ffea00; }
  .about-us-list .web-development {
    background: url("../images/web-development.png") 50% 20% no-repeat;
    background-color: #ffea00; }
  .about-us-list .web-design {
    background: url("../images/web-design-icon.png") 50% 20% no-repeat;
    background-color: #ffea00; }
  .about-us-list .graphic-design {
    background: url("../images/graphic-design-icon.png") 50% 20% no-repeat;
    background-color: #ffea00; }

.our-work {
  padding-bottom: 80px; }
  .our-work p {
    margin-bottom: 20px; }

.grid-item {
  width: 260px;
  border: 2px solid transparent; }

.grid-item--width2 {
  width: 520px; }

.wrapper {
  margin: 0 auto; }

.clients {
  margin: 0 auto;
  list-style: none; }
  .clients .client {
    display: inline-block;
    margin-right: 12px;
    height: 65px;
    width: 140px;
    background: url("../images/clients.png") no-repeat; }
    .clients .client:last-child {
      margin-right: 0; }

.clients > .client:nth-child(1) {
  background-position: 0px 0; }

.clients > .client:nth-child(2) {
  background-position: -140px 0; }

.clients > .client:nth-child(3) {
  background-position: -280px 0; }

.clients > .client:nth-child(4) {
  background-position: -420px 0; }

.clients > .client:nth-child(5) {
  background-position: -560px 0; }

.clients > .client:nth-child(6) {
  background-position: -700px 0; }

.clients > .client:nth-child(7) {
  background-position: -840px 0; }

.clients > .client:nth-child(8) {
  background-position: -980px 0; }

.main-footer {
  background-color: #414146;
  color: #fff;
  font-size: 13px;
  line-height: 21px;
  padding: 28px 0; }
  .main-footer > .container {
    display: flex; }
  .main-footer h4 {
    margin-bottom: 20px; }

.photo-stream {
  margin-top: 40px; }
  .photo-stream img {
    margin-right: 4px;
    margin-bottom: 8px; }

.tweets {
  padding-left: 0; }
  .tweets li {
    padding-left: 40px;
    background: url("../images/twitter-birs-icon.png") 0 30% no-repeat; }
  .tweets p {
    margin: 0; }
  .tweets .smaller-text {
    margin-bottom: 22px; }

.socials {
  padding: 0;
  margin: 0; }
  .socials li {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url("../images/social.png") no-repeat; }

.socials > .social:nth-child(1) {
  background-position: 0px 0; }

.socials > .social:nth-child(2) {
  background-position: -30px 0; }

.socials > .social:nth-child(3) {
  background-position: -60px 0; }

.socials > .social:nth-child(4) {
  background-position: -90px 0; }

.socials > .social:nth-child(5) {
  background-position: -120px 0; }

.socials > .social:nth-child(6) {
  background-position: -150px 0; }

.socials > .social:nth-child(7) {
  background-position: -180px 0; }

.socials > .social:nth-child(8) {
  background-position: -210px 0; }

.contact-info .contact {
  padding-left: 0; }
  .contact-info .contact li {
    padding-left: 40px; }
  .contact-info .contact .address {
    background: url("../images/adress.png") 0 30% no-repeat; }
  .contact-info .contact .phone {
    background: url("../images/phone.png") 0 30% no-repeat; }
  .contact-info .contact .email {
    background: url("../images/email.png") 0 30% no-repeat;
    margin-bottom: 40px; }
.contact-info input, .contact-info input:focus {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffea00;
  border-radius: 0; }
.contact-info .submit-btn {
  width: 28px;
  height: 28px;
  background: url("../images/email-icon.png") no-repeat;
  border: none;
  transform: translateY(14px); }

.footer-nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer-nav {
  background-color: #000;
  padding: 22px 0; }
  .footer-nav p {
    margin-bottom: 0;
    font-size: 14px; }
  .footer-nav .nav-pills .nav-link.active {
    color: #cacaca;
    background-color: transparent; }
  .footer-nav .nav-pills .nav-link {
    border-radius: 0; }
  .footer-nav .nav-link {
    display: block;
    padding: 0;
    color: #fff;
    font-size: 16px;
    margin-left: 28px; }
    .footer-nav .nav-link:hover {
      color: #cacaca; }

body {
  background-color: #f6f6f6; }

.section-header {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 34px; }
  .section-header .space {
    margin: 0 40px;
    background-color: transparent; }
    .section-header .space h4 {
      text-transform: uppercase;
      color: #ffea00;
      background-color: #414146;
      width: 168px;
      height: 31px;
      padding: 6px 28px; }
  .section-header:before, .section-header:after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #cacaca;
    margin-top: 15px; }

h4 {
  font-size: 18px;
  line-height: 21px; }

p {
  font-family: "CenturyGothic", sans-serif; }

.grey-text {
  color: #414146; }

.white-text {
  color: #fff; }

.yellow-text {
  color: #ffea00; }

.small-text {
  font-size: 13px;
  line-height: 19px; }

.smaller-text {
  font-size: 8px; }

.medium-text {
  font-size: 16px;
  line-height: 21px; }

.big-text {
  font-size: 24px;
  line-height: 33px; }

li {
  list-style: none; }

/*# sourceMappingURL=style.css.map */
