@import "variables";
@import "fonts";
@import "slider";
@import "button";
@import "header";
@import "first-section";
@import "footer";

body {
  background-color: $bg-color;
}


.grid-item {
    width: 260px;
    border: 2px solid transparent;
}
.grid-item--width2 {
    width: 520px;
}

.wrapper {
  margin: 0 auto;
}
.clients {
  margin: 0 auto;
  list-style: none;

  .client {
    display: inline-block;
    margin-right: 12px;
    height: 65px;
    width: 140px;
    background: url("../images/clients.png") no-repeat;

    &:last-child {
      margin-right: 0;
    }
  }
}

@for $i from 0 to 8 {

  $step : -140px;

  .clients {

    > .client:nth-child(#{$i + 1}) {

      background-position: ($step * $i) 0;
    }
  }
}

.section-header {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 34px;


  .space {
    margin: 0 40px;
    background-color: transparent;

    h4 {
      text-transform: uppercase;
      color: $yellow-color;
      background-color: $grey-color;
      width: 168px;
      height: 31px;
      padding: 8px 28px;
    }
  }

  &:before, &:after  {
    content: '';
    height: 1px;
    width: 100%;
    background-color: $light-grey-color;
    margin-top: 15px;
  }
}

h4 {
  font-size: 18px;
  line-height: 21px;
}

  p {
  font-family: $font-main;
}

.grey-text {
  color: $grey-color;
}
.white-text {
  color: #fff;
}
.yellow-text {
  color: $yellow-color;
}
.small-text {
  font-size: 13px;
  line-height: 19px;
}
.smaller-text {
  font-size: 8px;
}
.medium-text {
  font-size: 16px;
  line-height: 21px;
}
.big-text {
  font-size: 24px;
  line-height: 33px;
}
li {
  list-style: none;
}

.about-us {
  text-align: center;

  h3 {
    font-family: "CenturyGothic", sans-serif;
    font-size: 35px;
    line-height: 21px;
    color: $grey-color;
    text-transform: uppercase;
    margin-bottom: 26px;
  }
}

.about-us-list {
  width: 100%;

  li {
    height: 270px;
    width: 20%;
    display: inline-block;
    margin: 24px;

    .yellow-section {
      height: 66%;
      background-color: $yellow-color;
    }

    .gray-section {
      height: 34%;
      background-color: $grey-color;
    }
  }
}


